%h1 Welcome to this mini world wiki
%p feel free to explore our current entries or add your own
.mainButtons
	%button{:type => "button"} #{link_to 'World Leaders', leaders_path}
	%button{:type => "button"} #{link_to 'Countries', countries_path}
	%button{:type => "button"} #{link_to 'Regions', regions_path}