%h1 
	%span.r> W
	%span.a> e
	%span.i> l
	%span.n> c
	%span.b> o
	%span.o> m
	%span.w e
	to this mini world wiki
%p feel free to explore our current entries or add your own
.homeButtons
	%button{:type => "button"} #{link_to 'World Leaders', leaders_path, class: 'genLink'}
	%button{:type => "button"} #{link_to 'Countries', countries_path, class: 'genLink'}
	%button{:type => "button"} #{link_to 'Regions', regions_path, class: 'genLink'}